.backgroundimg{
    background-image: 
    url("https://q-xx.bstatic.com/xdata/images/xphoto/714x300/261387541.jpeg?k=80d1571cedd0a363b9d9b78207914af9b1490c6a859cacd8dc090c866d1bbc94&o=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
    }