.bgimg{
    background-image: url("https://cf.bstatic.com/psb/capla/static/media/world-map.7d457a5d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}